# IDE configurations
.vs/
.idea/

# Project files
bin/
obj/
DataProtection-Keys/
wwwroot/uploads/**
*.db*

# User files
.env*
!.env*.template
appsettings*
!appsettings*.template.json
*.user
*.suo

# Miscellaneous files
.DS_Store
Desktop.ini
Thumbs.db
