name: Code Analysis
on:
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true
permissions:
  security-events: write
  packages: read
  actions: read
  contents: read
jobs:
  analyze:
    name: Analyze (${{ matrix.language }})
    runs-on: ${{ (matrix.language == 'swift' && 'macos-latest') || 'ubuntu-latest' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - language: csharp
            mode: none
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Initialize Tool
        uses: github/codeql-action/init@v4
        with:
          languages: ${{ matrix.language }}
          build-mode: ${{ matrix.mode }}

      - name: Perform Analysis
        uses: github/codeql-action/analyze@v4
        with:
          category: /language:${{matrix.language}}
